.CarouselWrapper {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel {
  height: 200px;
  background-color: salmon;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
}

button {
  margin-right: 5px;
}

button.active {
  background-color: salmon;
}
